:root {
	--nc-tx-1: #ffffffdc;
	--nc-tx-2: #ffffffdc;
	--nc-bg-1: #181a1b;
	--nc-bg-2: #1c1e1f;
	--nc-bg-3: #363b3d;
	--nc-lk-1: #3291FF;
	--nc-lk-2: #0070F3;
	--nc-lk-tx: #ffffffdc;
	--nc-ac-1: #39486e;
	--nc-ac-tx: #ffffffdc;
}